:root {
    --sidebar-background-color: grey;
    --sidebar-color: white;

    --content-background-color: black;
    --content-color: white;
    --link-color: blueviolet;

    --button-background-color: green;
    --button-color: white
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.hidden {
    visibility: hidden;
}

button {
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-color);
}

button:disabled {
    opacity: 0.3;
}

tw-storydata {
    display: none;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

section {
    /* border: 3px solid saddlebrown;*/
    display: inline-block;
}

section.sidebar-1 {
    min-width: 18rem;
    max-width: 18rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-color);
}

section.sidebar-1 .content {
    flex-grow: 1;
}

section.sidebar-1 .toolbar button {
    font-size: xx-large;
    padding: 0.5rem;
    margin: 0.25rem;
}

section.sidebar-2 {
    display: none;
}

section.content {
    flex-grow: 1;
    padding: 2.5rem;
    overflow-y: scroll;
    background-color: var(--content-background-color);
    color: var(--content-color);
}

section.content p {
    font-size: x-large;
    line-height: 1.25;
    margin-bottom: 1rem;
}

section.content a.link,
section.content a.link:visited {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: var(--link-color);
}

h1.storyTitle {
    word-break: break-all;
}


/* Dice */
:root {
    --dice-background-color: orangered;
    --dice-dot-color: black;
    --dice-color: white;
    --dice-1-background-color: white;
    --dice-2-background-color: blue;
    --roll-button-background-color: green;
    --roll-button-color: white;
}

.dice,
.dice .side,
.dice .side svg {
    width: 50px;
    height: 50px;
}

.dice {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 2s;
}

.side {
    position: absolute;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    background: var(--dice-background-color);
    border-color: var(--dice-background-color);
    color: var(--dice-color);
}


.side svg circle {
    fill: var(--dice-dot-color);
}

.dice-1 .side {
    background-color: var(--dice-1-background-color);
    border-color: var(--dice-1-background-color);
}

.dice-2 .side {
    background-color: var(--dice-2-background-color);
    border-color: var(--dice-2-background-color);
}

.one {
    transform: rotateY(0deg) translateZ(25px);
}

.two {
    transform: rotateY(90deg) translateZ(25px);
}

.three {
    transform: rotateY(180deg) translateZ(25px);
}

.four {
    transform: rotateY(-90deg) translateZ(25px);
}

.five {
    transform: rotateX(90deg) translateZ(25px);
}

.six {
    transform: rotateX(-90deg) translateZ(25px);
}

.rollarea {
    perspective: 300px;
    margin: 0.25rem;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.diceboard {
    margin: 1rem 0;
}

/* .dicerollbutton {
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--roll-button-background-color);
    color: var(--roll-button-color);
} */

/* Character Sheet */
.sidebar-1 .charactersheet {
    padding: 2rem;
    width: 100%;
}

.sidebar-1 .charactersheet>div {
    height: 2rem;
}

.sidebar-1 .charactersheet>div>label {
    display: inline-block;
    width: 40%;
}

.sidebar-1 .charactersheet>div>label:first-child {
    font-weight: bold;
    text-align: right;
}

dialog.charactersheet {
    margin: auto;
    padding: 0.5rem;
    border: 5px solid violet;
}

dialog.charactersheet h2 {
    margin: 0 auto 1rem;
    text-align: center;
}

dialog.charactersheet div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

dialog.charactersheet div label {
    width: 50%;
    text-align: right;
    font-weight: bold;
    margin-right: 0.5rem;
}

dialog.charactersheet div input {
    width: 50%;
}

dialog.charactersheet .buttonrow {
    display: block;
    text-align: right;
    margin-top: 1rem;
}


