:root {
    --sidebar-background-color: grey;
    --sidebar-color: white;

    --content-background-color: black;
    --content-color: white;
    --link-color: #ffdd00;

    --button-background-color: green;
    --button-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.hidden {
    visibility: hidden;
}

button {
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--button-color);
}

button:disabled {
    opacity: 0.3;
}

tw-storydata {
    display: none;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

section {
    /* border: 3px solid saddlebrown;*/
    display: inline-block;
}

section.sidebar-1 {
    min-width: 18rem;
    max-width: 18rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-color);
}

section.sidebar-1 .content {
    flex-grow: 1;
}

section.sidebar-1 .toolbar button {
    font-size: xx-large;
    padding: 0.5rem;
    margin: 0.25rem;
}

section.sidebar-2 {
    display: none;
}

section.content {
    flex-grow: 1;
    padding: 2.5rem;
    overflow-y: scroll;
    background-color: var(--content-background-color);
    color: var(--content-color);
}

section.content p {
    font-size: x-large;
    line-height: 1.25;
    margin-bottom: 1rem;
}

section.content a.link,
section.content a.link:visited,
section.content a.stronglink,
section.content a.stronglink:visited {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: var(--link-color);
}

section.content a.link.navblocked,
section.content a.link.navblocked:visited {
    text-decoration: line-through;
    pointer-events: none;
}

h1.storyTitle {
    word-break: break-all;
}


/* Dice */
:root {
    --dice-background-color: orangered;
    --dice-dot-color: black;
    --dice-color: white;
    --dice-1-background-color: white;
    --dice-2-background-color: blue;
    --roll-button-background-color: green;
    --roll-button-color: white;

    --dice-size: 50px;
    --dice-translatez: ;
}

.dice,
.dice .side,
.dice .side svg {
    width: var(--dice-size);
    height: var(--dice-size);
}

.dice {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 2s;
}

.side {
    position: absolute;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    background: var(--dice-background-color);
    border-color: var(--dice-background-color);
    color: var(--dice-color);
}


.side svg circle {
    fill: var(--dice-dot-color);
}

.dice-1 .side {
    background-color: var(--dice-1-background-color);
    border-color: var(--dice-1-background-color);
}

.dice-2 .side {
    background-color: var(--dice-2-background-color);
    border-color: var(--dice-2-background-color);
}

.one {
    /* transform: rotateY(0deg) translateZ(25px); */
    transform: rotateY(0deg) translateZ(calc(var(--dice-size) / 2));
}

.two {
    transform: rotateY(90deg) translateZ(calc(var(--dice-size) / 2));
}

.three {
    transform: rotateY(180deg) translateZ(calc(var(--dice-size) / 2));
}

.four {
    transform: rotateY(-90deg) translateZ(calc(var(--dice-size) / 2));
}

.five {
    transform: rotateX(90deg) translateZ(calc(var(--dice-size) / 2));
}

.six {
    transform: rotateX(-90deg) translateZ(calc(var(--dice-size) / 2));
}

.rollarea {
    perspective: 300px;
    margin: 0.25rem;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.diceboard {
    margin: 1rem 0;
}

/* .dicerollbutton {
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--roll-button-background-color);
    color: var(--roll-button-color);
} */

/* Character Sheet */
:root {
    --character-sheet-border-color: violet;
    --character-sheet-backdrop-color: crimson;
}

.sidebar-1 .charactersheet {
    padding: 2rem;
    width: 100%;
}

.sidebar-1 .charactersheet>div {
    height: 2rem;
}

.sidebar-1 .charactersheet>div>label {
    display: inline-block;
    width: 40%;
}

.sidebar-1 .charactersheet>div>label:first-child {
    font-weight: bold;
    text-align: right;
}

dialog.charactersheet {
    margin: auto;
    padding: 0.5rem;
    border: 5px solid var(--character-sheet-border-color);
    max-width: 60%;
}

dialog.charactersheet::backdrop {
    background-color: var(--character-sheet-backdrop-color);
}

dialog.charactersheet h2 {
    margin: 0 auto 1rem;
    text-align: center;
}

dialog.charactersheet p {
    margin-bottom: 0.5rem;
    text-align: justify;
}

dialog.charactersheet div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

dialog.charactersheet div label {
    width: 50%;
    text-align: right;
    font-weight: bold;
    margin-right: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

dialog.charactersheet div input {
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}

dialog.charactersheet .buttonrow {
    display: block;
    text-align: right;
    margin-top: 1rem;
}

/* Combat */
@keyframes flyin {
    to { 
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
      }
}

.combattable {
    display: flex;
    flex-direction: column;

    animation: flyin 1.2s ease forwards;
    opacity: 0;
    transform: scale(2);
    filter: blur(4px);
}

div.combattable>div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
}

div.rollstatus {
    margin-top: 0.5rem;
    text-align: center;
    height: 2rem;
}

.combattable table caption {
    text-align: left;
    font-weight: bold;
}

@media (max-width:640px) {
    :root {
        --dice-size: 25px;
    }

    main {
        flex-direction: column;
    }

    section {
        /* border: 3px solid saddlebrown;*/
        display: inline-block;
    }

    section.sidebar-1 {
        min-width: initial;
        max-width: initial;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        background-color: var(--sidebar-background-color);
        color: var(--sidebar-color);
    }

    .sidebar-1 h1 {
        width: 100%;
    }

    .sidebar-1 .charactersheet {
        padding: 0.5rem;
        font-size: small;
        width: initial;
    }

    .sidebar-1 .charactersheet>div {
        height: initial;
        margin-left: 0.5rem;
    }

    section.sidebar-1 .toolbar {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    section.sidebar-1 .toolbar button {
        font-size: larger;
        padding: 0.1rem;
        margin: 0.05rem;
        display: inline;
        width: 2rem;
        height: 2rem;
    }

    .sidebar-1 .charactersheet>div>label {
        display: inline-block;
        width: unset;
    }
    
    .sidebar-1 .charactersheet>div>label:first-child {
        font-weight: unset;
        text-align: unset;
    }

    section.sidebar-1 .diceboard {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;
    }

    section.sidebar-1 .diceboard.hidden {
        display: flex !important;
        visibility: hidden;
    }

    section.sidebar-1 .diceboard .rollarea {
        min-width: 70px;
    }

    section.sidebar-1 .diceboard label.rollresultlabel {
        display: none;
    }

    div.combattable>div:first-child {
        flex-wrap: wrap;
    }
}